body {
    background-color: #003135;
    font-family: 'Arial', sans-serif;
    color: #a28089;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: left;
    color: #d8f0eb;
    font-size: 3rem;
    margin-left: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 250px; /* Adjusted padding for the strip */
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.box {
    background-color: #024950;
    color: #d8f0eb;
    font-size: 2rem; /* Increased font size */
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box a {
    text-decoration: none;
    color: inherit;
    font-family: 'Dancing Script', cursive;
}

.click-me-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #d0bdf4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.dialog-content {
    color: white;
    text-align: center;
}

.dialog-box button {
    background-color: #f03264;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #AFDDE5;
    transition: 0.3s;
    z-index: 10;
    padding-top: 60px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: block;
    font-family: 'Arial', sans-serif;
}

.menu ul li a.logout {
    background-color: #f03264;
    color: white; /* Keep the logout text white */
    font-family: 'Arial', sans-serif;
}

.menu ul li:hover {
    background-color: #ddd;
}

.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.logout:hover {
    background-color: #f03264;
}

.menu.open {
    left: 0;
}

/* Left strip for toggle */
.menu-strip {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #AFDDE5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 20;
}

#userName {
    color: #d8f0eb;
}
