/* General styles for sign-up page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('signupbg.jpg'); /* Set your image URL here */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Added slight transparency for better text readability */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    position: relative;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: #212121;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #2d4282; /* Highlight border on focus */
    outline: none;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Error message styling */
.error-message {
    color: red;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
}

/* Sign Up Button Styling */
.signup-btn {
    padding: 10px;
    background-color: #212121;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #171717; /* Darker Purple */
}

.signup-btn:disabled {
    background-color: #939fc2; /* Light Grey */
    cursor: not-allowed;
}

/* Links for Login */
.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #4a4a4a;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}
